@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
body{

}
#wrapper{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    margin: 3rem auto;
}
#card-1,#card-2,#card-3{
    width: 305px;
    flex-direction: column;
    padding: 2rem;
    color: #fff;
}
#card-1{
    background-color: #e28525;
}
#card-2{
    background-color: #016972;
}
#card-3{
    background-color: #00403f;
}
#card-1 img,#card-1 h2,#card-1 p,#card-2 img,#card-2 h2,#card-2 p,#card-3 img,#card-3 h2,#card-3 p{
    margin: 2rem 0;
}
#card-1 p,#card-2 p,#card-3 p{
    padding-right: 1rem;
    line-height: 1.5rem;
}
#card-1 button,#card-2 button,#card-3 button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    margin: 2rem 0;
    font-weight: bold;
    cursor: pointer;
}
#card-1 button{
    color: #e28525;
}
#card-2 button{
    color: #016972;
}
#card-3 button{
    color: #00403f;
}
#card-1 button:hover,#card-2 button:hover,#card-3 button:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid#fff;
    transition: .5s ease-in-out;
}
